@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.App {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.App input[type="checkbox"] {
  appearance: none;
  position: relative;
  height: 2rem;
  width: 4rem;
  background: #efefef;
  border-radius: 5rem;
  border: 1px solid #333333;
  transition: 0.35s;
}
.App input[type="checkbox"]::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #333333;
  transition: 0.35s;
}
.App input[type="checkbox"]:checked {
  background-color: #087ea4;
  border: 1px solid #087ea4;
}
.App input[type="checkbox"]:checked::after {
  left: 75%;
  background-color: white;
}
.App label.title_trans {
  font-size: 24px;
  font-weight: 600;
}
.App .transfer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button {
  display: none !important;
  -webkit-appearance: none;
}
